*{
    margin: 0;
    padding: 0;
}

body{
    background-color: white;
    font-family:"HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing:1px;
}

/*-----------------------------------------------Header--------------------------------------------------*/
.active {
    color: rgb(0, 0, 0);
    background-color: rgb(147, 147, 147);
}

.headtop{
    background-color:whitesmoke;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.caja{
    width: 5%;
}

.contenedorLogo{
    width: 35%;
    display: flex;
    justify-content: center;
}

.headtop__imglogo{
    width: 70%;
}

.contenedorCarrito{
    height: 100%;
    width: 5%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.headtop__imgcarrito{
    width: 50%;
    height: auto;
}

/* ------------------menuNavegacion----------------- */

.contenedorNav{
    width: 100%;
    height: 8%;
    background-color: slategrey;
    opacity: 80%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 150;
}

/* @media (min-width: 720px){

    .contenedorNav{
        display:flex;
        flex-direction: column;
    }
} */

 /*-------------------------------------------Barra de Navegacion------------------------------------------------*/

#menu ul {
    list-style:none;
    margin:0;
    padding:0;
   }
   
   /* items del menu */
   
   #menu ul li {
    background-color: slategrey;
    opacity: 85%;
   }
   
   /* enlaces del menu */
   
   #menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px 30px 5px 30px;
    text-transform:uppercase;
    letter-spacing:1px;
   }
   
   /* items del menu */
   
   #menu ul li {
    position:relative;
    float:left;
    margin:0;
    padding:0;
}
   
   /* efecto al pasar el mouse por los items del menu */
   
   #menu ul li:hover {
    background:#adb0b4;
   }

   /* menu desplegable */

    #menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0;
    background:#eee;
    padding:0;
   }
   
   /* items del menu desplegable */
   
   #menu ul ul li {
    float:none;
    width:150px;  
   }
   
   /* enlaces de los items del menu desplegable */
   
   #menu ul ul a {
    line-height:120%;
    padding:10px 15px;
   }
   
   /* items del menu desplegable al pasar el mouse */
   
   #menu ul li:hover > ul {
    display:block;
   }


/* imagen por detras*/

.imgpromo{
    height: 100%;
}

.imagendetras{
    width: 100%;
    height: auto;
    opacity: 90%;
    object-fit: cover;
    margin: 0;
}

/*----------------------------------------------------MAIN----------------------------------------------------------*/

.quienessomos{
    width: 100%;
    height: 350px;
    background-image: url(../img/fondoquienes\ somos_Mesa\ de\ trabajo\ 1.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.tituloQuienes{
    width: 100%;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienessomos h2{
    font-size: 1.8rem;
}

.parrafoQuienes{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quienessomos p{
    font-size: 20px;
    margin: 10px;
}

.imgQuienes{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quienessomos a{
    background-color: darkolivegreen;
    text-decoration: none;
    border-radius: 10px;
    border: 0;
    margin: 20px;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.quienessomos a:hover{
    background-color: palegreen;
    color: black;
    transition: 1s;

}

/*--------------------------------------------Productos destacados------------------------------------------------*/

.prodest{
    width: 100%;
    height: auto;
    text-align: center;
}

.tituloProdest{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.prodest h2{
    font-size: 2rem;
    color: rgb(105, 128, 55);
}

/*------- Tarjeta Productos destacados----------*/

.carrusel{
    width: 100%;
    height: auto;
}

.prodest .tarjetaprod{
    width: 180px;
    height: 280px;
    background-color: rgb(196, 162, 53);
    border-radius: 10px;
    padding: 20px;
    margin: 30px;
    display: inline-block;
    color: rgb(0, 0, 0);
    text-align: center;
    box-shadow: 2px 2px 10px;
}

.tarjetaprod p{
    font-size: 0.8rem;
    padding: 3px;
}

.tarjetaprod h3{
    font-size: 1rem;
    padding: 2px;
    margin: 1px;
}

.tarjetaprod:hover{
    transform: scale(1.05);
    transition: 0.5s;
}

.prodest .tarjetaprod .tarjetatitulo{
    font-size: 18px;
    margin-bottom: 10px;
}

.prodest .tarjetaprod .imgkit{
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 50px;
}

.btn2{
    background-color: darkolivegreen;
    border-radius: 10px;
    border: 0;
    padding: 13px;
    cursor: pointer;
    color: white;
}

.btn2:hover{
    background-color: rgb(184, 214, 138);
    color: black;
    transition: 1s;
}

/*--------------- Envios----------------*/

.enviosprod{
    width: 100%;
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.envios{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descuentocup{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seguridadEnvios{
    width: 200px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaEnvios{
    width: 70%;
    margin: 10px;
}

.cuponDesc{
    width: 70%;
    margin: 15px;
}

.verificadoSeguridad{
    width: 50%;
    margin: 20px;
}

.avanzar{
    width: 6%;
    height: 6%;
}

/*------------------------------------------------Footer------------------------------------------------------------*/

.contenedorfooter{
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-content:flex-end;
    background-color: rgb(105, 128, 55);
    background: linear-gradient(0deg, rgb(93, 114, 47) 0%, rgba(34,193,195,0) 100%);
    color: whitesmoke;
}

.imgfooter{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items:flex-end;
}

.imgfooter .imgfooter__logogg{
    width: 80%;
}

.redesfooter{
    width: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: end;
}

.redesfooter h3{
    font-size: 1.3rem;
    padding: 5px;
}

.imgfacebook{
    width: 20%;
    padding: 5px;
}

.imginstagram{
    width: 20%;
    padding: 5px;
}

.iconosredes{
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/*CONTACTO FOOTER*/

.contactofooter{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.contactofooter h3{
    font-size: 1.3rem;
    padding: 5px;
    display: flex;
    align-content: center;
    justify-content: center;
}

.cf{
    font-size: .6rem;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: left;
}

.wapp{
    width: 8%;
    padding: 5px;
}

.email{
    width: 8%;
    padding: 5px;
}

.direccion{
    width: 8%;
    padding: 5px;
}

/*-------------------botonfoorter----------------*/

.btnfooter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnfooter button{
    background-color: rgb(196, 162, 53);
    border-radius: 10px;
    height: 50px;
    border: 0;
    padding: 10px;
    cursor: pointer;
    color: white;
}

.btnfooter button:hover{
    background-color: rgb(219, 204, 152);
    color: black;
}

/*--------Disenado Por--------*/

.infodesign{
    background-color: rgb(225, 192, 85);
    color: black;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 75%;
}








/*------------------------------------TIENDA----------------------------------------------*/
/*------------------------------- HOJA DE ESTILOS-----------------------------------------*/


.maintienda{
    width: 100%;
    height: 100%;
    background-color:whitesmoke;
}

.espacioPorDetras{
    height: 50px;
}

/*--------------- Envios----------------*/

.enviostienda{
    width: 100%;
    font-size: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enviardeTienda{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descuentoTienda{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parrafodescuento{
    width: 80%;
    text-align: center;
}

.seguridadTienda{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cajaEnviostienda{
    width: 70%;
    margin: 10px;
}

.cuponDescTienda{
    width: 70%;
    margin: 15px;
}

.verificadoTienda{
    width: 50%;
    margin: 20px;
}

.adelantar{
    width: 6%;
    height: 6%;
}







/*------------------------------GRID-----------------------------------*/

.titleCategorias{
    height: 80px;
    display: flex;
    font-size: 1rem;
    padding-left: 8%;
    justify-content: left;
    align-items: flex-end;
}

.conteinerCategoria{
    display: grid;
    background-color: whitesmoke;
    grid-template-columns: auto auto auto auto;
    justify-content: center;
}

.itemcategoria{
    width: 150px;
    height: 150px;
    margin: 20px;
    background-color: olivedrab;
    background: linear-gradient(0deg, rgba(142,177,64,1) 0%, rgba(205,215,23,1) 78%);
    text-align: center;
    color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemcategoria:hover {
    cursor: pointer;
    background-color: aliceblue;
    opacity: 75%;
}

.itemcategoria p{
    font-size: auto;
}





/*---------------------------------------------------CONTACTOS----------------------------------------------------------*/
/*-------------------------------------------------HOJA DE ESTILOS---------------------------------------------------------*/



.mainsection{
    width: 100%;
    height: 700px;
    display: flex;
}

.ubimapa{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.mapaubicacion{
    width: 550px;
    height: 450px;
    border-radius: 30px;
    box-shadow: 5px 5px 15px;
}

.ubimapa h2{
    padding: 10px;
    margin-bottom: 30px;
}

.form{
    width: 50%;
    background-color: rgb(196, 162, 53);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.tarjetaform{
    width: 60%;
    height: 500px;
    background-color: whitesmoke;
    border-radius: 30px;
    box-shadow: 5px 5px 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 10px;
    margin: 30px;
}

.tarjetaform h3{
    margin: 20px;
    padding: 5px;
}

.tarjetaform .labelform{
    margin: 10px;
}

.tarjetaform .btnfrom{
    margin: 10px;
    margin-top: 25px;
    border-radius: 20px;
    padding: 10px;
}




/*-------------------------------------------------TIPS GREENGOLD----------------------------------------------------------*/
/*-------------------------------------------------HOJA DE ESTILOS---------------------------------------------------------*/

.contenedorBody{
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: auto 55px auto 300px 30px;
    grid-template-areas: "headtop headtop headtop"
                            "nav    nav     nav"
                           "margin   main  margin2"
                           "footer footer footer"
                         "footer2 footer2 footer2";
}

.contenedorHeadtop{
    grid-area: headtop;
}

#menu{
    grid-area: nav;
}

.margenIzq{
    grid-area: margin;
    background: rgb(142,178,62);
    background: linear-gradient(180deg, rgba(142,178,62,1) 0%, rgba(164,191,48,0.7346288857339811) 42%, rgba(205,215,23,0) 97%, rgba(205,215,23,0) 100%);
}

.contenedorMain{
    grid-area: main;
    background: rgb(142,178,62);
    background: linear-gradient(180deg, rgba(142,178,62,1) 0%, rgba(164,191,48,0.7346288857339811) 42%, rgba(205,215,23,0) 97%, rgba(205,215,23,0) 100%);
}

.margenDere{
    grid-area: margin2;
    background: rgb(142,178,62);
    background: linear-gradient(180deg, rgba(142,178,62,1) 0%, rgba(164,191,48,0.7346288857339811) 42%, rgba(205,215,23,0) 97%, rgba(205,215,23,0) 100%);
}

.titleMaintipsgg{
    color: white;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 20px;
}

.contenedorFooter{
    grid-area: footer;
}

.contenedorFooter2{
    grid-area: footer2;
}

/*------------------------Imagenes Galeria---------------------*/

.imgTipsgg{
    width: 100%;
    border-radius: 20px;
}

.imgTipsgg2{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.imgTipsgg3{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.imgTipsgg4{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.imgTipsgg5{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.imgTipsgg6{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.imgTipsgg7{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}

.imgTipsgg8{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    object-fit: cover;
}


.imgTipsgg9{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/*------------------------GRID GALERRY---------------------*/

.griditem{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    transition: transform .3s ease-in-out;
}

.griditem:hover {
    filter: opacity(.9);
    transform: scale(1.02);
    box-shadow: 5px 5px 10px;
    border-radius: 20px;
}

.gridtips{
    display: grid;
    grid-template-columns:repeat(4, minmax(auto, 1fr));
    grid-auto-rows: minmax(auto, auto) ;
    gap: 15px;
    margin-bottom: 100px;
    padding: 20px;
    grid-auto-flow: dense;
}

.item1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.item2{
    grid-column: 3;
}

.item3{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1 ;
}

.item8{
    grid-column: 1 / span 2;
}

.item9{
    grid-column: 3 / span 2;
    grid-row: 3 / span 2;
}

/*------------------------@MEDIA---------------------*/

@media screen and (min-width: 370px) and (max-width: 720px){
    .contenedorBody{
        display: grid;
        grid-template-columns: 40px auto 40px;
        grid-template-rows: auto 55px auto 300px 30px;
        grid-template-areas: "headtop headtop headtop"
                                "nav    nav     nav"
                               "margin   main  margin2"
                               "footer footer footer"
                             "footer2 footer2 footer2";
    }

    .titleMaintipsgg{
        color: white;
        display: flex;
        justify-content: center;
        align-content: center;
        margin: 10px;
    }

/*-----------------footer media--------------*/

    .contenedorfooter{
        width: 100%;
        height: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        background-color: rgb(105, 128, 55);
        background: linear-gradient(0deg, rgb(93, 114, 47) 0%, rgba(34,193,195,0) 100%);
        color: whitesmoke;
    }

    .imgfooter{
        width: 30%;
        display: flex;
        justify-content: center;
        align-items:flex-end;
    }

    .btnfooter button{
        background-color: rgb(196, 162, 53);
        border-radius: 10px;
        height: 100%;
        border: 0;
        padding: 10px;
        cursor: pointer;
        color: white;
    }

    .redesfooter{
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .redesfooter h3{
        font-size: 1rem;
        padding: 5px;
    }
    
    .imgfacebook{
        width: 20%;
        padding: 5px;
    }
    
    .imginstagram{
        width: 20%;
        padding: 5px;
    }
    
    .iconosredes{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .contactofooter{
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    /*CONTACTO FOOTER*/

    .contactofooter{
        width: 200px;
        display: flex;
        flex-direction: column;
    }

    .contactofooter h3{
        font-size: 1.2rem;
        display: flex;
        align-content: center;
        justify-content: center;
    }

    .cf{
        font-size: .6rem;
        display: flex;
        align-items: center;
        justify-content: left;
    }

    .wapp{
        width: 8%;
    }

    .email{
        width: 8%;
    }

    .direccion{
        width: 8%;
    }


    /*------- Grid  Gallery media--------*/

    .gridtips{
        display: grid;
        grid-template-columns:repeat(2, minmax(auto, 1fr));
        grid-auto-rows: minmax(auto , auto) ;
        gap: 15px;
        margin-bottom: 50px;
        padding: 20px;
        grid-auto-flow: dense;
    }

    .item1{
        grid-column: 1 / span 2;
        grid-row: 1 / span 2;
    }

    .item2{
        grid-column: 2;
    }
    
    .item3{
        grid-column: 2 / span 1;
        grid-row: 3 / span 1 ;
    }
    
    .item8{
        grid-column: 1 / span 2;
    }
    
    .item9{
        grid-column: 1 / span 2;
        grid-row: 5 / span 2;
    }

    /*------- nav media--------*/


    #menu ul a {
        display:flex;
        justify-content: space-evenly;
        color:#fff;
        text-decoration:none;
        font-weight:400;
        font-size: .5rem;
        padding: 5px 10px 5px 10px;
        text-transform:uppercase;
        letter-spacing:1px;
    }

    #menu ul li {
        width: 20%;
        background-color: slategrey;
        opacity: 85%;
       }
       
}



/*---------------------------------------------------PROMOCIONES----------------------------------------------------------*/
/*-------------------------------------------------HOJA DE ESTILOS---------------------------------------------------------*/

.mainpromo{
    width: 100%;
    height: 700px;
    background-color: rgb(105, 128, 55);
}

